<noscript>
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box p-6">
                <h1 class="title has-text-danger-dark"><i class="fas fa-frown-open"></i>&nbsp;We need Javascript!</h1>
                <p class="subtitle">Your browser has Javascript disabled.</p>
                <p>Without Javascript, the webpage will not be able to function and display correctly. <strong>Please enable Javascript and refresh the page.</strong></p>
            </div>
        </div>
    </div>
</noscript>